@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
html {
    scroll-behavior: smooth;
    background-color: #FFFCF6;
    overflow-x: hidden;
}

@layer components {
    .home-layout {
        width: 80%;
        margin: 0 auto;
    }
    .section {
        margin: 6rem auto;
    }
    .title {
        font-size: 50px;
        font-weight: 600;
        color: #313F38;
    }
}
.toggle {
    display: none;
  }
  .no-scroll {
    overflow: hidden;
  }
 